.exam {
  display: block;
  width: 278px;
  height: 111px;
  background-color: var(--item-background);
  padding: 20px 25px 20px 60px;
  margin: 20px;
}
a {
  text-decoration: none;
  color: var(--text);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container > .title {
  font-size: 20.125px;
  position: relative;
}

.container > .title::before {
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  height: 16px;

  left: -32px;
  top: 4px;

  background-color: var(--primary);
}

.footer {
  border-top: 1px solid var(--secondary-text);
  padding-top: 5px;
  display: flex;

  color: var(--secondary-text);
  flex-direction: row;
  justify-content: space-between;
}

.points::before {
  margin-right: 10px;

  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background: url(./trophy.svg) no-repeat center center/20px auto;
}

.questions::before {
  margin-right: 10px;

  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(./ask.svg) no-repeat center center/20px auto;
}

.id::before {
  margin-right: 10px;

  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(./key.svg) no-repeat center center/20px auto;
}

.flex-center {
  display: flex;
  align-items: center;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#test_results {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

h1 {
  text-align: center;
  color: var(--secondary-text);
}

.search {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

#search_submit {
  width: calc(min(10vw, 75px));
  aspect-ratio: 1 !important;
  background: url(./search.svg) no-repeat center center/75% auto;
  border-left: 1px solid var(--primary);
  cursor: pointer;
}

form {
  background-color: var(--item-background);
  height: calc(min(10vw, 75px));
  width: 85%;
  display: flex;
  max-height: 10vw;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input-container > * {
  flex-grow: 1;
}

li {
  display: block;
  box-sizing: border-box;
}

ol {
  box-sizing: border-box;
}

form {
  border: 1px solid var(--text);
}

input {
  border: 0;
  background-color: var(--item-background);
}
input#url {
  border-bottom: 1px solid var(--primary);
}
body {
  width: calc(100vw - 16px);
}
