/* card stylising */
.footer {
  border-top: 1px solid var(--secondary-text);
  padding-top: 5px;
  display: flex;

  color: var(--secondary-text);
  flex-direction: row;
  justify-content: space-between;
}

.alphabet::before {
  background: url(./alphabet.svg) no-repeat center center/20px auto;
}

.points::before {
  background: url(./trophy.svg) no-repeat center center/20px auto;
}

.questions::before {
  background: url(./ask.svg) no-repeat center center/20px auto;
}

.id::before {
  background: url(./key.svg) no-repeat center center/20px auto;
}

.icon {
  display: flex;
  align-items: center;
}

.icon::before {
  margin-right: 10px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
}

.exam .title::before {
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  height: 16px;

  left: -32px;
  top: 4px;

  background-color: var(--primary);
}

.exam .title {
  text-wrap: balance;

  font-size: 20.125px;
  position: relative;
  max-height: 1px;
}
.exam {
  aspect-ratio: 2.5;
  overflow: hidden;

  width: 300px;
  background-color: var(--item-background);
  padding: 20px 25px 20px 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: 150ms;
}

/* global stylising */

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text);
}

#test_results {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 20px;
}

h1 {
  text-align: center;
  color: var(--secondary-text);
  font-size: calc(min(6vw, 50px));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1::before,
h1::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 2px;
  background-color: var(--secondary-text);
  margin-left: 2%;
  margin-right: 2%;
}

#search_submit {
  background: url(./search.svg) no-repeat center center/80% auto;
  width: calc(min(6vw, 50px));
  height: calc(min(6vw, 50px));

  cursor: pointer;
}
#search_querry {
  flex-grow: 1;
  font-size: calc(min(4vw, 30px));
}

.header {
  background-color: var(--item-background);
}

input {
  background-color: var(--secondary-item-background);
  border: 1px solid var(--secondary);
  margin-left: 2%;
  margin-right: 2%;
  color: var(--text);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  height: calc(min(6vw, 50px));
}

#test_results:empty::after {
  content: "Brak Wyników";
}

.highlight {
  color: var(--secondary-text);
}

.nameicon::before {
  background: url(./user.svg) no-repeat center center/80% auto;
  width: 40px;
  height: 40px;
}

.user {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

.user > a {
  text-decoration: underline;
}

#sort {
  display: flex;
  justify-content: center;
}

input[type="radio"] {
  margin: 5px;
}

#sortReverse {
  display: none;
}

#sortReverse + label {
  display: inline-block;
  width: 40px; /* adjust as needed */
  height: 40px; /* adjust as needed */
  background: url(./sort.svg) no-repeat center center/80% auto;
}

#sortReverse:checked + label {
  transform: scaleY(-1);
}
