/* card stylising */
.footer {
  border-top: 1px solid var(--secondary-text);
  padding-top: 5px;
  display: flex;

  color: var(--secondary-text);
  flex-direction: row;
  justify-content: space-between;
}

.points::before {
  background: url(./trophy.svg) no-repeat center center/20px auto;
}

.questions::before {
  background: url(./ask.svg) no-repeat center center/20px auto;
}

.id::before {
  background: url(./key.svg) no-repeat center center/20px auto;
}

.icon {
  display: flex;
  align-items: center;
}

.icon::before {
  margin-right: 10px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
}

.exam .title::before {
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  height: 16px;

  left: -32px;
  top: 4px;

  background-color: var(--primary);
}

.exam .title {
  font-size: 20.125px;
  position: relative;
}

.exam {
  width: 278px;
  height: 111px;
  background-color: var(--item-background);
  padding: 20px 25px 20px 60px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* global stylising */

body {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: var(--text);
}

#test_results {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

h1 {
  text-align: center;
  color: var(--secondary-text);
  font-size: calc(min(6vw, 50px));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1::before,
h1::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 2px;
  background-color: var(--secondary-text);
  margin-left: 2%;
  margin-right: 2%;
}

#search_submit {
  background: url(./search.svg) no-repeat center center/80% auto;
  width: calc(min(6vw, 50px));
  height: calc(min(6vw, 50px));

  cursor: pointer;
}
#search_querry {
  flex-grow: 1;
  font-size: calc(min(4vw, 30px));
}

.header {
  background-color: var(--item-background);
}

input {
  background-color: #fff !important;
  border: 1px solid var(--secondary);
  margin-left: 2%;
  margin-right: 2%;
}

#search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  height: calc(min(6vw, 50px));
}
