body {
  --primary: #007be0;
  --secondary: #444;
  --text: #d0d0d0;
  --secondary-text: #707070;
  --item-background: #1a1a1a;
  --secondary-item-background: #111;
  --background-color: #171717;
  --theme: -1;
}

html {
  scrollbar-color: #d0d0d0 #171717;
}

@media (prefers-color-scheme: light) {
  body {
    --primary: #007be0;
    --secondary: #d9d9d9;
    --text: #333;
    --secondary-text: #9e9fa0;
    --item-background: #fafafa;
    --secondary-item-background: #fff;
    --background-color: #fff;
    --theme: 0.3;
  }

  html {
    scrollbar-color: #9e9fa0 #fff;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text);
  text-wrap: balance;
  background-color: var(--background-color);
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

.hover {
  transition: 150ms;
}

@media (prefers-reduced-motion: reduce) {
  .hover {
    transition: 0ms;
  }
}

.hover:hover {
  filter: brightness(calc(1 - var(--theme) * 0.3));
}
